@charset "utf-8";

.items h2 {
	text-align: center;
}

.items h3 {
	margin-top: 10px;
	text-align: center;
}

.items ul {
	list-style: none;
	margin-top: 10px;
	padding: 0;
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}

.items li {
	width: calc((100% - 64px) / 3);
	box-sizing: border-box;
	padding: 14px;
}

.item-info {
	display: flex;
}

.items .user-img {
	width: 16%;
	height: auto;
	vertical-align: middle;
	border-radius: 50%;
	float: left;
}

.text {
	margin-left: 10px;
	width: calc(100% - 16% - 10px);
}

.item-title {
	margin-top: 8px;
	font-weight: bold;
	display: flow-root;
}

.item-detail {
	margin-top: 4px;
	display: flow-root;
}

.item-img {
	margin-top: 16px;
	text-align: center;
}

@media (max-width: 600px) {
	.items li {
		width: 100%;
		box-sizing: border-box;
		padding: 14px;
	}
}