<h1>ユーザー</h1>
<%= image_tag @user.image.url, size: '300x230', class:'' %>
<section class="stats">
    <%= render 'shared/stats' %>
</section>
<%= render 'shared/relationship' %>
<p id="test"></p>
<p><%= @user.name %></p>