<% flash.each do |message_type, messages| %>
  <% if messages.class == Array %>
      <div class="alert alert-<%= message_type %>">
        <ul>
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <ul>
      </div>
  <% else %>
    <div class="alert alert-<%= message_type %>"><%= messages %></div>   
  <% end %>
<% end %>