<div id="footermenu">
  <ul>
    <li class="title">メニュー見出し</li>
    <li><a href="#">サンプルメニュー</a></li>
    <li><a href="#">サンプルメニュー</a></li>
  </ul>
  <ul>
    <li class="title">メニュー見出し</li>
    <li><a href="#">サンプルメニュー</a></li>
    <li><a href="#">サンプルメニュー</a></li>
  </ul>
</div>
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>